@model FotoPelicula

<div>
    <form method="post" enctype="multipart/form-data">

        <div class="custom-file">
            <input asp-for="Imagen" class=""/>            
        </div>
        <div>
            <input type="submit" value="Subir" class="btn btn-warning"/>
        </div>
    </form>
</div>